@import "https://theme-park.dev/CSS/themes/organizr/organizr-base-old.css"; 
@import "https://theme-park.dev/CSS/addons/organizr/glass/glass-base.css"; 
:root {
    --main-bg-color: url(https://chronnick.com/plugins/images/custom/wall2.png) center center/cover no-repeat fixed;
    --mobile-bg-color: radial-gradient(circle, #3a3a3a, #2d2d2d, #202020, #141414, #000000) center center/cover no-repeat fixed;

    --link-color: #fff;
    --custom-buttons-color: radial-gradient(ellipse at center, #3F51B5 0%, #009688 100%) center center/cover no-repeat fixed;
    --hompage-item-hover: radial-gradient(ellipse at center, rgba(0, 150, 136, 0.33) 0%, #b53f3f73 100%) center center/cover no-repeat fixed;
    --notification-box-line: #000;

    --div-background-color-10: rgba(0, 0, 0, 0.50);
    --div-background-color-15: rgba(0, 0, 0, 0.85);
    --div-background-color-25: rgba(0, 0, 0, 0.85);
    --div-background-color-35: rgba(0, 0, 0, 0.85);
}
